h1 {
    background-color: black;
    color: white;
    text-shadow: 2px 2px #ffffff;
    text-align: center;
}

main {
    background-color: blueviolet;
    color: white;
    text-align: center;
}

footer {
    background-color: black;
    color: white; 
    text-align: center;
}